* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  max-width: 800px;
  margin: 40px auto;
}

.calc-heading {
  color: #888;
}

.wrapper {
  background: #eee;
  font-weight: bold;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.output {
  background: #858693;
  padding: 40px;
  text-align: right;
  font-size: 30px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.keys > div {
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.keys > div:active {
  background: #c0c0c0;
}

.ac,
.plus-minus,
.percent,
.seven,
.eight,
.nine,
.four,
.five,
.six,
.one,
.two,
.three,
.zero,
.dot,
.equal {
  background: #e0e0e0;
  color: #000;
}

.division,
.multiply,
.minus,
.plus {
  background: #f5913e;
  color: #000;
}

.zero {
  grid-column-start: span 2;
}
