* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.wrapper {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  background: #000;
  margin: 20px auto;
  max-width: 400px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.output {
  background: #000807;
  padding: 40px;
  text-align: right;
  font-size: 30px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.keys > div {
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.keys > div:active {
  background: #000;
  padding: 10px;
}

.ac,
.plus-minus,
.percent,
.seven,
.eight,
.nine,
.four,
.five,
.six,
.one,
.two,
.three,
.zero,
.dot,
.equal {
  background: #071418;
}

.division,
.multiply,
.minus,
.plus {
  background: #105057;
}

.zero {
  grid-column-start: span 2;
  background: #239d91;
}
